.footerStyle {

    position: absolute;

    bottom:0 !important;
    width:100%;
        background-color: black !important;
        border-top: 3px solid rgb(0, 255, 0);
    
}

@media only screen and (width: 400px) {
    .linkStyle {

          
           
    }

    .containerRito {

     font-size: 10px !important;
     bottom: 4em;
           left: 8.5em;
            position: absolute;
    }

    .containerContent {
    
        position: relative;
     
    
    }

    .linkStyle {
        position: relative;
        bottom: 0.5em !important;

    }

    .btn {


        font-size: 9px;
        position: relative;
        left: 5em !important;
    }

  }

  @media only screen and (width: 554px) {
    .linkStyle {

            font-size: 10px !important;
            position: relative;
            bottom: 0.5em;
    }

    .containerContent {
        font-size: 10px !important;
        position: relative;
        bottom: -0.3em;
        height: 10vh;
    }
    

    .btn {

        position: relative;
        bottom: 0.3em;
    }

  }



.btn {

    color: green; 
    text-shadow: none;
}

.btn:hover {

    color: rgb(0, 255, 0); 

}

.containerContent {
    color: green;
    text-shadow: 2px 2px 2px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.containerRito {

    display: flex;


}

.linkStyle {

    transition: 1s;
    border-left: 2px solid transparent; 
    border-right: 2px solid transparent; 
    padding: 5px;
    color: green;
    position: relative;
   bottom: 4px;
   margin-left: 0.5em;
}

.linkStyle:hover {
    color: rgb(0, 255, 0) !important;
    border-left: 2px solid rgb(0, 255, 0) !important; 
    border-right: 2px solid rgb(0, 255, 0) !important; 
    padding: 5px;
}