.container-fluid {

    display: flex !important;
    justify-content: space-between !important;

}

@media only screen and (width: 400px) {

.navbar-toggler {

    position: fixed;
    left: 16em;
    top: 1.6em;

}

    
  }


  @media only screen and (width: 554px) {

    .navbar-toggler {
    
        position: fixed;
        left: 23em;
        top: 1.6em;
    
    }
    
        
      }



.navbar-brand {

 

}

.menuTitle  {
    transition: 1s !important;

}

.navbar-brand:hover > .menuTitle {

    color: #00ff00 !important;

}

.navbar {

    border-bottom: 2px solid #00ff00;
    background-color: #000000 !important;

}

.menuTitle {

    color: green;
    text-shadow: 2px 2px 2px white;
}

input {

    border: 1px solid green;
    color: #008000 !important;
    background-color: transparent;

}

input:hover, input:active ~ ::placeholder, input:focus {

    background-color: transparent !important;
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
    box-shadow: 0.5px 0.5px 0.5px 0.5px white !important;
}   

::placeholder {
    color: green !important;

}

.iconNavbar {

    width: 60px;

}

button {

    margin-left: 1em;
    position: relative;
    border: 1px solid green !important;
}

button:hover {

    border: 1px solid rgb(0, 255, 0) !important;
    background-color: transparent !important;
    color: #00ff00;
    box-shadow: 0.5px 0.5px 0.5px 0.5px white !important;
}

.video {

    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -60;
    bottom: 0em;
    object-fit: cover;
    position: fixed;

}

.containerContent {

    width: 100% !important;

}

.footerStyle {

    position: absolute;

    bottom:0 !important;
    width:100%;

}

